<template>
<div>
  <h1>leggi</h1>
  <input v-model="stringa" type="text" />
  <input type="button" v-on:click=mandaMail()>
    {{ stringa }}
    {{ fondi }}
</div>    

</template>

<script>
import axios from 'axios'
export default {
  name: 'leggi',
  data () {
    return {
      msg: '',
      fondi:'dfsf',
      stringa: 'ciao',
      axiosConfig:''
    }
  },
  methods:
  {
    getFondi: function()
    {
      this.fondi='installation',
      this.axiosConfig = {
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Accept': 'application/json'
}
},
      axios.get('http://saiu.netsons.org/json.php', 
      this.axiosConfig)
          .then(response=>(this.fondi=response))
          .catch(error=> console.log(error))
    
    },
    mandaMail: function(event)
    {
        this.stringa=this.getFondi()
    } 
  },
  mounted: function() 
  {
   
  //  $this.axios.get('http://saiu.netsons.org/json.php').
   // then(response=>(this.fondi=response)).catch(error=> console.log(error))
    
  } 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
